

<div class="grid">
  <div class="col-12 flex justify-content-center">
    <p-button icon="pi pi-info-circle" label="اطلاعات سیستم" (onClick)="pageindex=0"></p-button>
    <p-button styleClass="mr-2" icon="pi pi-slack" label="پردازش ها" (onClick)="pageindex=1"></p-button>
  </div>
</div>


<p-tabView [(activeIndex)]="pageindex">
  <p-tabPanel>
    <span class="text-900">نام میزبان</span> : <span class="text-700">{{info.host}}</span>
    <p-divider></p-divider>
    <span class="text-900">سیستم عامل</span> : <span class="text-700">{{info.name}}</span>
    <p-divider></p-divider>
    <span class="text-900">معماری</span> : <span class="text-700">{{info.arch}}</span>
    <p-divider></p-divider>
    <span class="text-900">پردازنده</span> : <span class="text-700">{{info.cpus}} هسته</span>
    <p-divider></p-divider>
    <span class="text-900">کل حافظه</span> : <span class="text-700">{{info.totalRam}} گیگابایت</span>
    <p-divider></p-divider>
    <span class="text-900">حافظه آزاد</span> : <span class="text-700">{{info.freeRam}} گیگابایت</span>
    <p-divider></p-divider>
    
  </p-tabPanel>
  <p-tabPanel>
    <p-table [value]="processes" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th class="text-center">شناسه</th>
              <th class="text-center">نام</th>
              <th class="text-center">عمیلات</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-process>
          <tr>
              <td class="text-center">{{process.PID}}</td>
              <td class="text-center">{{process.COMMAND}}</td>
              <td class="text-center">
                <p-button styleClass="p-button-sm p-button-secondary" icon="pi pi-trash" label="حذف"
                (onClick)="killProcess(process.PID)"></p-button>
              </td>
              
          </tr>
      </ng-template>
  </p-table>
  </p-tabPanel>
</p-tabView>

<p-toast position="top-center"></p-toast>